<div style="width: 90%; display: flex; flex-direction:row; margin: 1vh">
    <input type="text" id="name" style="width: 50%; height: 5vh;" placeholder="Name">
    <input type="text" id="number" style="width: 50%; height: 5vh;" placeholder="Telephone">
</div>
<div style="width: 90%; display: flex; flex-direction:row; justify-content:space-around; margin: 1vh">
    <button style="width: 30%; height: 7vh; background-color: white;" onclick="Add()">Add</button>
    {{#reject}}
    {{/reject}}
</div>