<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home page</title>
    </head>
    <body>
        <a href="http://localhost:3000/job">Jobs</a>
        <a href="http://localhost:3000/team">Teams</a>
        <a href="http://localhost:3000/employee">Employees</a>
        <a href="http://localhost:3000/status">Statuses</a>
    </body>
</html>